<footer>
   <div class="footer__area footer-bg">
       <div [ngClass]="footerPadd ? footerPadd : 'footer__top pt-190 pb-40'">
           <div class="container">
               <div class="row justify-content-center">
                   <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                       <div class="footer__widget text-center">
                           <div class="footer__widget-head mb-22">
                               <div class="footer__logo">
                                   <a [routerLink]="['/']">
                                       <img src="assets/img/logo/logo-2.webp" alt="Logo Pie de Pagina">
                                   </a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="footer__bottom">
           <div class="container">
               <div class="row">
                   <div class="col-xxl-12">
                       <div class="footer__copyright text-center">
                           <p>© 2024 Desarrollado por <a href="https://fsalasevicius.com.ar/" target="_blank">FSalasevicius </a>
                               <a href="mailto:flaviosalasevicius@hotmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                           </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</footer>