.card {
  border-radius: 10px;
}

.btn-primary {
  width: 100%;
}

.team-logo {
  border-radius: 50%;
  max-width: 30px;
  margin-right: 10px;
}

.match-date {
  font-weight: bold;
}

.card-stadium{
  color:rgb(113, 113, 122)
}

.card-title{
  font-weight: 600;
  
  font-family: "font-montserrat"
}

@media (min-width: 576px) {
  .match-date {
    font-size: 1.25rem;
  }
}