.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Puedes ajustar la altura según tus necesidades */
  }
  
  .spinner-logo {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }