<main>
  <app-header-two headerShadow="header__area header__padding-2 header__shadow">
  </app-header-two>

  <section class="teacher__area pt-50 pb-110">
    <div class="page__title-shape">
      <img class="page-title-shape-5 d-none d-sm-block" src="assets/img/page-title/page-title-shape-1.png" alt="">
      <img class="page-title-shape-6" src="assets/img/page-title/page-title-shape-6.png" alt="">
      <img class="page-title-shape-3" src="assets/img/page-title/page-title-shape-3.png" alt="">
      <img class="page-title-shape-7" src="assets/img/page-title/page-title-shape-4.png" alt="">
    </div>
    <div class="container">
      <ng-container *ngIf="loading">
        <div class="d-flex justify-content-center align-items-center vh-100" *ngIf="loading">
          <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="card text-center my-3" style="font-weight: 500; font-size: 20px; color: black;">
          Predicciones Fase de Grupos
        </div>
        <div class="row">
          <div class="col-md-6 mb-3" *ngFor="let grupo of grupos">
            <div class="card h-100" style="border: none; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
              <div class="card-body">
                <h2 style="color: #2c3e50;">{{ grupo.nombre }}</h2>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Selección</th>
                        <th>Gol</th>
                        <th>Selección</th>
                        <th>Gol</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let partido of grupo.partidos">
                        <td data-label="Selección" style="display: flex; align-items: center;">
                          <img [src]="'assets/img/american-cup/countries/' + partido.teamA.flag"
                            alt="{{ partido.teamA.name }}" class="img-fluid" style="margin-right: 10px;">
                          <div>
                            <div style="font-weight: bold;">{{ partido.teamA.name }}</div>
                          </div>
                        </td>
                        <td data-label="Gol">
                          <input class="form-control form-control-goles" type="number"
                            [ngModel]="getGoles(partido.teamA, partido)"
                            (ngModelChange)="setGoles(partido.teamA, partido, $event)">
                        </td>
                        <td data-label="Selección" style="display: flex; align-items: center;">
                          <img [src]="'assets/img/american-cup/countries/' + partido.teamB.flag"
                            alt="{{ partido.teamB.name }}" class="img-fluid" style="margin-right: 10px;">
                          <div>
                            <div style="font-weight: bold;">{{ partido.teamB.name }}</div>
                          </div>
                        </td>
                        <td data-label="Gol">
                          <input class="form-control form-control-goles" type="number"
                            [ngModel]="getGoles(partido.teamB, partido)"
                            (ngModelChange)="setGoles(partido.teamB, partido, $event)">
                        </td>
                        <td>
                          <i class="fas fa-check-circle" style="color: green; margin-right: 5px;"></i>
                          <i class="fas fa-times-circle" style="color: red;"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right mt-2 mb-3">
            <button class="btn btn-primary" (click)="grabarPrediccion()"
              style="background-color: #2ecc71; border: none; padding: 10px 20px;">Guardar Predicción</button>
          </div>
        </div>
      </ng-container>

    </div>
  </section>


</main>