<section class="signup__area po-rel-z1 pt-100 pb-145">
   <div class="sign__shape">
      <img class="man-1" src="assets/img/icon/sign/man-1.png" alt="">
      <img class="man-2" src="assets/img/icon/sign/man-2.png" alt="">
      <img class="circle" src="assets/img/icon/sign/circle.png" alt="">
      <img class="zigzag" src="assets/img/icon/sign/zigzag.png" alt="">
      <img class="dot" src="assets/img/icon/sign/dot.png" alt="">
      <img class="bg" src="assets/img/icon/sign/sign-up.png" alt="">
   </div>
   <div class="container">
      <div class="row">
         <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
            <div class="section__title-wrapper text-center mb-55">
               <h2 class="section__title">Ingreso de Usuarios</h2>
               <p>Si no tienes una cuenta <a class="btn-reg" [routerLink]="['/sign-up']">Registrate Aquí!</a></p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
            <div class="sign__wrapper white-bg">
               <div class="sign__form">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                     <div class="sign__input-wrapper mb-25">
                        <h5>Correo Electronico</h5>
                        <div class="sign__input" [ngClass]="{'has-error': isFieldValid('email')}">
                           <input type="text" formControlName="email" placeholder="Email" autocomplete="off" required >
                           <i class="fal fa-envelope"></i>
                        </div>
                     </div>
                     <div class="sign__input-wrapper mb-10">
                        <h5>Contraseña</h5>
                        <div class="sign__input" [ngClass]="{'has-error': isFieldValid('password')}">
                           <input type="password" formControlName="password" placeholder="Contraseña" autocomplete="off" required>
                           <i class="fal fa-lock"></i>
                        </div>
                     </div>
                     <div *ngIf="isFieldValid('password')" class="error-message">
                        <i class="fal fa-exclamation-circle"> </i>
                        {{ getErrorMessage('password') }}
                     </div>
                     <div *ngIf="isFieldValid('email')" class="error-message mb-2">
                        <i class="fal fa-exclamation-circle"> </i>
                        {{ getErrorMessage('email') }}
                     </div>
                     <button type="submit" class="e-btn w-100" [disabled]="!formValid" [ngClass]="{'disabled-button': !formValid}">Ingresar</button>
                     <p-toast position="bottom-center"></p-toast>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>