<main>
  <app-header headerShadow="header__area header__padding-2 header__shadow"></app-header>

  <ng-container *ngIf="loading; else showTable">
    <app-spinner></app-spinner>
  </ng-container>
  <ng-template #showTable>
    <section class="teacher__area pt-50 pb-110">
      <div class="container">

        <div class="row">
          <div class="col-xxl-12 offset-xxl-12">
            <div class="section__title-wrapper mb-60 text-center">
              <h2 class="section__title">Tabla de Posiciones</h2>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6" *ngFor="let group of groupedStats; let i = index">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h3 class="mb-4 text-center">Grupo {{ group.group }}</h3>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Equipo</th>
                        <th>Pts</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>GF</th>
                        <th>GC</th>
                        <th>Dif.</th>
                      </tr>
                    </thead>
                    <tbody style="cursor: pointer;">
                      <ng-container *ngFor="let team of group.teams; let j = index">
                        <tr [ngClass]="{ 'group-highlight': j < 2 }">
                          <td>
                            {{ team.stats.name }} <br>
                            <span class="indicator" [ngClass]="{ 'check': j < 2, 'x': j >= 2 }"
                              [title]="j < 2 ? 'Clasifica a la siguiente fase' : 'Queda Eliminado'"></span>
                          </td>
                          <td>{{ team.stats.points }}</td>
                          <td>{{ team.stats.matches }}</td>
                          <td>{{ team.stats.wins }}</td>
                          <td>{{ team.stats.draws }}</td>
                          <td>{{ team.stats.losses }}</td>
                          <td>{{ team.stats.goalsFor }}</td>
                          <td>{{ team.stats.goalsAgainst }}</td>
                          <td><span *ngIf="team.stats.goalDifference > 0">+{{ team.stats.goalDifference }}</span><span *ngIf="team.stats.goalDifference <= 0">{{ team.stats.goalDifference }}</span></td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
</main>