<main>
    <app-header headerShadow="header__area header__padding-2 header__shadow"></app-header>
      <section class="teacher__area pt-50 pb-110">
        <div class="container">
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="banner__item no-tournament">
                  <h4>No tienes acceso para modificar este torneo.</h4>
                  <img src="../../../../../assets/img/icon/segurity.jpg" alt="No tienes permiso para editar el torneo">
                </div>
              </div>
            </div>
        </div>
      </section>
    <app-footer></app-footer>
    <p-toast position="bottom-center"></p-toast>
  </main>