<div class="course__tab-content mb-95">
    <div class="tab-content" id="segurityForm">
        <div class="tab-pane fade show active" id="segurityForm" role="tabpanel"
            aria-labelledby="segurityForm-tab">
            <div class="course__description">
                <h3>Datos de la Cuenta</h3>
                <form action="assets/mail.php">
                    <div class="row">
                       <div class="col-xxl-6 col-xl-6 col-md-6">
                          <div class="contact__form-input">
                            <label for="name">Contraseña</label>
                             <input type="password" placeholder="Contraseña" name="password">
                          </div>
                       </div>
                       <div class="col-xxl-6 col-xl-6 col-md-6">
                        <div class="contact__form-input">
                          <label for="name">Confirma  tu Contraseña</label>
                           <input type="password" placeholder="Contraseña" name="confirmPassword">
                        </div>
                     </div>
                       <div class="col-xxl-12">
                          <div class="contact__btn">
                             <button type="submit" class="e-btn">Cambiar Contraseña</button>
                          </div>
                       </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>