<div class="course__tab-content mb-95">
    <div class="tab-content" id="segurityForm">
        <div class="tab-pane fade show active" id="segurityForm" role="tabpanel" aria-labelledby="segurityForm-tab">
            <div class="course__description">
                <h3>Datos de la Cuenta</h3>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                            <div class="contact__form-input" [ngClass]="{ 'has-error': isFieldInvalid('currentPassword') }">
                                <label for="currentPassword">Contraseña Actual</label>
                                <div class="password-input">
                                    <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword" [ngClass]="isFieldInvalid('currentPassword')" />
                                    <button type="button" (click)="togglePasswordVisibility('currentPassword')">
                                        <i [ngClass]="showCurrentPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                                <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched || submitted)" class="error-message">
                                    {{ getErrorMessage('currentPassword') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-md-6">
                            <div class="contact__form-input" [ngClass]="{ 'has-error': isFieldInvalid('newPassword') }">
                                <label for="newPassword">Nueva Contraseña</label>
                                <div class="password-input">
                                    <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" [ngClass]="isFieldInvalid('newPassword')" />
                                    <button type="button" (click)="togglePasswordVisibility('newPassword')">
                                        <i [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                                <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched || submitted)" class="error-message">
                                    {{ getErrorMessage('newPassword') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-md-6">
                            <div class="contact__form-input" [ngClass]="{ 'has-error': isFieldInvalid('confirmPassword') }">
                                <label for="confirmPassword">Confirma tu Contraseña</label>
                                <div class="password-input">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" [ngClass]="isFieldInvalid('confirmPassword')" />
                                    <button type="button" (click)="togglePasswordVisibility('confirmPassword')">
                                        <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                                <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched || submitted)" class="error-message">
                                    {{ getErrorMessage('confirmPassword') }}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="passwordsMatchError" class="error-message">
                            La nueva contraseña no puede ser igual a la contraseña actual.
                        </div>
                        <div class="col-xxl-12">
                            <div class="contact__btn">
                                <button type="submit" class="e-btn" [disabled]="!formChanged || !passwordForm.valid" [ngClass]="{'disabled-button': !formChanged || !passwordForm.valid}">Cambiar Contraseña</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p-toast position="bottom-center"></p-toast>
            </div>
        </div>
    </div>
</div>