.input-error {
  border-color: red;
}

.has-error .input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}
.disabled-button {
  background-color: #ccc; 
}

.password-input {
  position: relative;
}

.password-input button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-70%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.password-input button i {
  font-size: 1.2em;
}