.tournament-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.tournament-container h2 {
  text-align: center;
}

.tournament-container form {
  display: flex;
  flex-direction: column;
}

.tournament-container form label {
  margin: 10px 0 5px;
}

.tournament-container form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tournament-container form .btn-add {
  margin-top: 10px;
}

.tournament-container form .btn-remove {
  margin-left: 10px;
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
}

.tournament-container form .btn-remove i {
  font-size: 1.2em;
}

.tournament-container form .btn-submit {
  margin-top: 20px;
  width: 200px;
}

.tournament-link {
  margin-top: 30px;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25d366; /* Color de WhatsApp */
  color: #fff; /* Color de texto */
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.whatsapp-button:hover {
  background-color: #128c7e; /* Color de WhatsApp al pasar el mouse */
}

.whatsapp-logo {
  width: 20px; /* Tamaño del logo de WhatsApp */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.email-button {
  display: inline-block;
  background-color: #007bff; /* Color azul para el botón */
  color: #fff; /* Color de texto */
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.email-button:hover {
  background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}

.email-icon {
  width: 20px; /* Tamaño del icono de sobre */
  margin-right: 10px; /* Espacio entre el icono y el texto */
}