<main>
  <app-header headerShadow="header__area header__padding-2 header__shadow"></app-header>

  <section class="teacher__area pt-50 pb-110">
    <div class="row">
      <div class="join-tournament-container">
        <h2>Detalles de Invitaciones a Torneos</h2>
        <div *ngFor="let tournament of invitations" class="card">
          <div class="card-body">
            <h5 class="card-title">{{ tournament.tournamentName }}</h5>
            <p class="card-text">Organizado por: {{ tournament.owner.surname }}, {{ tournament.owner.name }}</p>
            <p class="card-text">Participantes: {{ tournament.participants.length }}</p>
            <button *ngIf="isPendingInvitation(tournament)"
                    (click)="joinTournament(tournament)"
                    class="btn btn-primary">
              Unirse al Torneo
            </button>
            <p *ngIf="!isPendingInvitation(tournament)">
              Ya te has unido a este torneo o la invitación no está pendiente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>