<div class="course__member-item">
    <div class="row align-items-center">
      <div
        class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6"
      >
        <div
          class="course__member-thumb d-flex align-items-center"
        >
          <img
            src="assets/img/course/instructor/course-instructor-1.jpg"
            alt=""
          />
          <div class="course__member-name ml-20">
            <h5>Torneo bla bla bla</h5>
            <span>Organizador</span>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
        <div class="course__member-info pl-45">
          <h5>07</h5>
          <span>Participantes</span>
        </div>
      </div>
      <div
        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
        <div class="course__member-info pl-70">
          <h5>05</h5>
          <span>Posicion</span>
        </div>
      </div>
      <div
        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
        <div class="course__member-info pl-85">
          <button class="btn btn-primary">Ir al torneo</button>
        </div>
      </div>
    </div>
  </div>