<div class="course__member-item" *ngFor="let tournament of invitations">
    <div class="row align-items-center">
      <div
        class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6"
      >
        <div
          class="course__member-thumb d-flex align-items-center"
        >
          <img
            src="assets/img/american-cup/logo-copa-america-2024.webp"
            alt="Logo Copa America"
          />
          <div class="course__member-name ml-20">
            <h5>{{tournament.tournamentName}}</h5> 
            <span>Organizado Por:  <br> {{tournament.owner.surname}} {{tournament.owner.name}}</span>
          </div>
        </div>
      </div>
      <div
      class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
        <div class="course__member-info pl-45">
          <h5>{{tournament.participants.length}}</h5>
          <span>Participantes</span>
        </div>
      </div>
      <div
        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
        <div class="course__member-info pl-70">
          <button *ngIf="isPendingInvitation(tournament)" (click)="joinTournament(tournament)"
          class="e-btn e-btn-2" title="Unirse al Torneo">
          Unirse
        </button>
        <a [routerLink]="['/tournament-detail', tournament._id]" *ngIf="!isPendingInvitation(tournament)"
          disabled class="e-btn e-btn-2" style="background-color:rgb(29, 183, 47);cursor: pointer;margin-right: 1rem;" title="Ir al Torneo">
          Ir
        </a>
      
        </div>
      </div>
      <div
        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
      >
       
      </div>
    </div>
  </div>