<main>
    <app-header headerShadow="header__area header__padding-2 header__shadow"></app-header>
      <section class="page__title-area pt-120 pb-90">
          <div class="page__title-shape">
            <img
              class="page-title-shape-5 d-none d-sm-block"
              src="assets/img/page-title/page-title-shape-1.png"
              alt=""
            />
            <img
              class="page-title-shape-6"
              src="assets/img/page-title/page-title-shape-6.png"
              alt=""
            />
            <img
              class="page-title-shape-7"
              src="assets/img/page-title/page-title-shape-4.png"
              alt=""
            />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="course__wrapper">
                    <div class="page__title-content mb-25">
                        <div class="page__title-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Cuenta de Usuario
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <h5 class="page__title-3">
                            Cuenta de Usuario
                        </h5>
                    </div>
                  <div class="course__tab-2 mb-45">
                    <ul class="nav nav-tabs" id="courseTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link active"
                          id="description-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#description"
                          type="button"
                          role="tab"
                          aria-controls="description"
                          aria-selected="true"
                        >
                        <i class="fal fa-user"></i> <span>Datos de Usuario</span>
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link"
                          id="curriculum-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#curriculum"
                          type="button"
                          role="tab"
                          aria-controls="curriculum"
                          aria-selected="false"
                        >
                        <i class="fal fa-lock"></i> <span>Seguridad</span>
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link"
                          id="review-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#review"
                          type="button"
                          role="tab"
                          aria-controls="review"
                          aria-selected="false"
                        >
                        <i class="fal fa-bell"></i> <span>Notificaciones</span>
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-link"
                          id="member-tab"
                          data-bs-toggle="tab"
                          data-bs-target="#member"
                          type="button"
                          role="tab"
                          aria-controls="member"
                          aria-selected="false"
                        >
                        <i class="fal fa-trophy"></i> <span>Torneos de Amigos</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="course__tab-content mb-95">
                    <div class="tab-content" id="courseTabContent">
                      <div
                        class="tab-pane fade show active"
                        id="description"
                        role="tabpanel"
                        aria-labelledby="description-tab"
                      >
                        <div class="course__description">
                            <app-user-data-form></app-user-data-form>
                        </div>
                      </div>
        
                      <div
                        class="tab-pane fade"
                        id="curriculum"
                        role="tabpanel"
                        aria-labelledby="curriculum-tab"
                      >
                        <div class="course__curriculum">
                            <app-user-segurity-form></app-user-segurity-form>
                        </div>
                      </div>
        
                      <div
                        class="tab-pane fade"
                        id="review"
                        role="tabpanel"
                        aria-labelledby="review-tab"
                      >
                        <div class="course__review">
                            <app-user-notification-form></app-user-notification-form>
                        </div>
                      </div>
        
                      <div
                        class="tab-pane fade"
                        id="member"
                        role="tabpanel"
                        aria-labelledby="member-tab"
                      >
                        <div class="course__member mb-45">
                          <app-user-tournament-form></app-user-tournament-form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="course__sidebar pl-70 p-relative">
                  <div class="course__shape">
                    <img
                      class="course-dot"
                      src="assets/img/course/course-dot.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <app-footer></app-footer>
  </main>