<div class="course__comment mb-75">
  <h3>Cantidad de Notificaciones Nuevas</h3>

  <ul>
    <li>
      <div class="course__comment-box">
        <div class="course__comment-thumb float-start">
          <img
            src="assets/img/course/comment/course-comment-1.jpg"
            alt=""
          />
        </div>
        <div class="course__comment-content">
          <div class="course__comment-wrapper ml-70 fix">
            <div class="course__comment-info float-start">
              <h4>Nombre</h4>
              <span>Fecha Notificacion</span>
            </div>
            <div
              class="course__comment-rating float-start float-sm-end"
            >
            </div>
          </div>
          <div class="course__comment-text ml-70">
            <p>
              Texto de la notificación
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>